<div class="row">

  <!-- Aréa para dejar la imagen -->
  <div class="col-md-4">

    <h3>Seleccione archivos</h3>

    <!-- div con directiva personalizada para detectar elemento arrastrado -->
    <div  appNgDropFiles
          (mouseSobre)="estaSobreElemento = $event"
          [ngClass]="{'file-over': estaSobreElemento}"
          class="well drop-zone">

      <h4>Deje caer aquí los archivos</h4>
      <img src="assets/drop-images.png">

    </div>

  </div>

  <!-- Acciones y tabla de archivos -->
  <div class="col-md-8">

    <h4>Cargar archivos</h4>

    <!-- Acciones -->
    <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn btn-success">Cargar a Firebase</button>
    <button class="btn btn-danger">Limpiar</button>

    <!-- Tabla de información de archivos subidos / subiendose -->
    <table class="table">

      <thead class="thead=dark">
        <tr>

          <th>Nombre archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>

        </tr>
      </thead>


      <tbody>
        <tr>
          <td>XYZ</td>
          <td>12 MB</td>

          <!-- Barra progreso -->
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 25%"></div>
            </div>
          </td>

        </tr>
      </tbody>

    </table>

  </div>

</div>
